<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <link rel="stylesheet" href="{{ url_for('public_static', filename='css/styles.css') }}">
</head>
<body>
{% if not skip_navigation -%}
<div class="container">
<div class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-start">
    <a class="navbar-item" href="{{ url_for('home') }}">
      Admin
    </a>
  </div>
  <div class="navbar-end">
    <a class="navbar-item" href="{{ url_for('auth.logout') }}">
      Déconnexion
    </a>
  </div>
</div>
</div>
{%- endif %}{# not skip_navigation #}
{% with messages = get_flashed_messages(with_categories=true) -%}
{% if messages -%}
<div class="container">
  {% for category, message in messages -%}
  <div class="notification is-{{ category }}">{{ message }}</div>
  {% endfor -%}
</div>
{% endif -%}
{% endwith -%}

<div class="container">
{% block main %}
{% endblock %}
</div>
</body>
</html>
