{% extends 'base.html' %}

{% block main %}
<form action="{{ request.path }}" method="POST">

<div class="field">
  <label class="label" for="{{ form.title.id }}">{{ form.title.label }}</label>
  <div class="control">
    <input type="text" class="input" id="{{ form.title.id }}" name="{{ form.title.name }}" value="{{ form.title.data or '' }}" />
  </div>
</div>

<div class="field">
  <label class="label" for="{{ form.body.id }}">{{ form.body.label }}</label>
  <div class="control">
    <textarea id="{{ form.body.id }}" name="{{ form.body.name }}">{{ form.body.data or '' }}</textarea>
  </div>
</div>

<div class="field is-grouped">
  <div class="control">
    <button class="button is-link">Enregistrer</button>
  </div>
</div>

</form>

<script src="{{ url_for('static', filename='ckeditor5/ckeditor.js') }}"></script>
<script>
  ClassicEditor
			.create( document.getElementById("{{ form.body.id }}"), {
				toolbar: {
					items: [
						'heading',
						'|',
						'bold',
						'italic',
						'link',
						'bulletedList',
						'numberedList',
						'|',
            'imageInsert',
						'blockQuote',
						'insertTable',
						'undo',
						'redo'
					]
				},
				language: 'fr',
				image: {
					toolbar: [
            //'linkImage',
            'imageTextAlternative',
            //'imageStyle:full',
            //'imageStyle:side'
					]
				},
				table: {
					contentToolbar: [
						'tableColumn',
						'tableRow',
						'mergeTableCells'
					]
				},
        ckfinder: {
          uploadUrl: "{{ url_for('views.upload') }}",
          withCredentials: true
        },
			} )
			.then( editor => {
				window.editor = editor;
			} )
			.catch( error => {
				console.error(error);
			} );
</script>
{% endblock %}
