{% extends 'base.html' %}

{% block main %}
<h1 class="title">{{ g.meta.title }}</h1>
<label class="label">Pages</label>
<div class="box">
{% if pages %}
<ul>
    {% for slug in pages %}
    <li>
        <a href="{{ url_for('views.edit', slug=slug) }}">{{ slug }}</a>
    </li>
    {% endfor %}
</ul>
{% else %}
<em>aucune page</em>
{% endif %}
<br/>
<form action="{{ url_for('views.create') }}" method="POST">
    <div class="field is-horizontal">
        <div class="control">
            <input class="input" type="text" name="slug" id="slug"/>
        </div>
        <div class="control">
            <button class="button" type="submit">Créer</button>
        </div>
    </div>
</form>
</div>

<br/>
<label class="label">Maintenance</label>
<a href="{{ url_for('views.meta') }}">Configuration du site</a>
{% endblock %}
