{% extends 'base.html' %}

{% block main %}
<div class="hero is-large">
<div class="hero-body">

<div class="columns">
  <div class="column is-offset-4 is-4">

    <h1 class="title">{{ g.meta.title }}</h1>

    <form action="{{ url_for(request.endpoint) }}" method="POST">
    {% if next -%}
      <input type="hidden" name="next" value="{{ next }}" />
    {%- endif %}

    <div class="field">
      <label class="label">{{ form.username.label }}</label>
      <div class="control">
        <input class="input" type="text" name="{{ form.username.name }}">
      </div>
    </div>

    <div class="field">
      <label class="label">{{ form.password.label }}</label>
      <div class="control">
        <input class="input" type="password" name="{{ form.password.name }}">
      </div>
    </div>

    <br/>

    <div class="field is-grouped">
      <div class="control">
        <button class="button is-link">Connexion</button>
      </div>
    </div>

    </form>

  </div>
</div>{# /columns #}

</div>
</div>{# /hero #}
{% endblock %}
