{% extends 'base.html' %}

{% block main %}
<form action="{{ url_for(request.endpoint) }}" method="POST">
<div class="field">
    <label class="label" for="{{ form.title.id }}">{{ form.title.label }}</label>
    <div class="control">
        <input class="input" id="{{ form.title.id }}"  name="{{ form.title.name }}" value="{{ form.title.data or '' }}" />
    </div>
</div>

<div class="field">
    <label class="label" for="{{ form.description.id }}">{{ form.description.label }}</label>
    <div class="control">
        <textarea class="textarea" id="{{ form.description.id }}" name="{{ form.description.name }}" rows="4">{{ form.description.data or '' }}</textarea>
    </div>
</div>

<div class="field">
    <label class="label" for="{{ form.header.id }}">{{ form.header.label }}</label>
    <div class="control">
        <textarea class="textarea" id="{{ form.header.id }}" name="{{ form.header.name }}" rows="4">{{ form.header.data or '' }}</textarea>
    </div>
</div>

<div class="field">
    <label class="label" for="{{ form.footer.id }}">{{ form.footer.label }}</label>
    <div class="control">
        <textarea class="textarea" id="{{ form.footer.id }}" name="{{ form.footer.name }}" rows="4">{{ form.footer.data or '' }}</textarea>
    </div>
</div>

<div class="field">
    <label class="label" for="{{ form.tracker.id }}">{{ form.tracker.label }}</label>
    <div class="control">
        <textarea class="textarea" id="{{ form.tracker.id }}" name="{{ form.tracker.name }}" rows="12">{{ form.tracker.data or '' }}</textarea>
    </div>
</div>

<div class="field is-grouped">
  <div class="control">
    <button class="button is-link">Enregistrer</button>
  </div>
</div>
</form>
{% endblock %}
