<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8"/>
  <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#000000"/>
  <title>{{ page.title or meta.title }}</title>
  <meta name="description" content="{{ meta.description }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
<style>
.main-content {
  min-height: calc(100vh - 192px);
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
</style>
{% if meta.tracker -%}
{{ meta.tracker|safe }}
{%- endif %}
</head>
<body>
<div class="wrapper">
{% if meta.header -%}
<header class="header">{{ meta.header|safe }}</header>
{%- endif -%}
{% block main %}
{% endblock %}
{%- if meta.footer -%}
<footer class="footer">{{ meta.footer|safe }}</footer>
{%- endif %}
</div>
</body>
</html>
