{% extends 'base.html' %}

{% block main %}
<div class="main-content">{{ page.html|safe }}</div>
<script>
$(document).ready(function(){
    $(".photo").each(function(){
        var cartel = $(this).find(".cartel");
        if (!cartel.length)
            return;
        cartel.wrapInner("<div class='content-wrapper'><div class='content-body'></div></div>");
        var btn = $("<div class='toggle'>+</div>");
        btn.on("click", function(){
            if (cartel.is(":visible")) {
                cartel.hide();
                btn.removeClass("active");
            } else {
                cartel.show();
                btn.addClass("active");
            }
        });
        $(this).prepend(btn);
        cartel.hide();
    });
})
</script>
{% endblock %}
