//@import "node_modules/bulma/sass/utilities/_all"
@import "node_modules/bulma/sass/utilities/initial-variables"

$noir: #000000
$jaune: #F7FD37

$label-color: $grey-light
$box-background-color: $black-ter
$title-color: $grey-lighter
$subtitle-color: $grey-lighter
$input-color: $white
$input-background-color: $grey-dark
$input-border-color: $grey
$input-hover-border-color: $grey-light
$navbar-background-color: transparent

@import "node_modules/bulma/sass/utilities/functions"
@import "node_modules/bulma/sass/utilities/derived-variables"

$box-shadow: 0 0.25em 0.5em -0.125em rgba($scheme-invert, 0.1), 0 0px 0 1px rgba($scheme-invert, 0.02)

@import "node_modules/bulma/sass/utilities/mixins"
@import "node_modules/bulma/sass/utilities/controls"
@import "node_modules/bulma/sass/utilities/extends"

@import "node_modules/bulma/sass/base/_all"
@import "node_modules/bulma/sass/elements/_all"
@import "node_modules/bulma/sass/form/_all"

//@import "node_modules/bulma/sass/components/_all"
//@import "node_modules/bulma/sass/components/breadcrumb"
//@import "node_modules/bulma/sass/components/card"
//@import "node_modules/bulma/sass/components/dropdown"
//@import "node_modules/bulma/sass/components/level"
//@import "node_modules/bulma/sass/components/media"
//@import "node_modules/bulma/sass/components/menu"
//@import "node_modules/bulma/sass/components/message"
//@import "node_modules/bulma/sass/components/modal"
@import "node_modules/bulma/sass/components/navbar"
//@import "node_modules/bulma/sass/components/pagination"
//@import "node_modules/bulma/sass/components/panel"
//@import "node_modules/bulma/sass/components/tabs"

//@import "node_modules/bulma/sass/grid/_all"
@import "node_modules/bulma/sass/grid/columns"
//@import "node_modules/bulma/sass/grid/tiles"

@import "node_modules/bulma/sass/helpers/_all"
@import "node_modules/bulma/sass/layout/_all"

blockquote,
blockquote p
  background: #F7FD37
  color: $black
  a
    background-color: $black
