$noir: #000000
$jaune: #F7FD37

html, body
  font-family: Arial, sans-serif
  background-color: $noir
  color: $jaune

h2, h3
  margin: 0
  padding: 1em
  text-align: center

h2
  font-size: 2rem
  color: $jaune
  background: $noir

h3
  font-size: 1.5rem
  color: $noir
  background: $jaune

h4
  font-size: 1.5rem
  color: $jaune
  background: $noir
  text-align: center

p
  font-size: 1rem
  color: $jaune
  background: $noir
  margin: 0

header
  text-align: center
  margin: 1em auto

footer
  text-align: center
  margin: 2em auto
  a
    padding: 0.5em
    margin: 0.5em

.button-wrapper
  margin: 2em
  text-align: center

a.button
  padding: 0.75em 1.5em
  margin: 0.5em
  border-radius: 2em
  border: 3px solid $jaune
  background-color: $jaune
  color: $noir

a.button:hover
  background-color: $noir
  color: $jaune

.footer a.button
  color: $jaune
  background-color: $noir

.footer a.button:hover
  background-color: $jaune
  color: $noir

a
  color: $jaune
  text-decoration: none
  font-weight: bold

img
  width: 100%

.photo
  position: relative
  text-align: left
  margin: 0
  padding: 1% 1.5%
  background: $jaune

  img
    z-index: 0

  .cartel
    z-index: 1
    background: rgba(247, 253, 55, 0.6)
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    color: $noir

    .content-wrapper
      z-index: 2
      position: absolute
      margin: auto
      left: 50%
      top: 50%
      transform: translate(-50%,-50%)
      font-weight: bold

      .content-body
        border: 4px solid $noir
        padding: 1em

      .content-body p
        background: transparent
        color: $noir

        a
          display: block
          border-radius: 2em
          padding: 0.5em 1em
          margin-top: 0.5em
          background-color: $noir
          text-align: center

  .toggle
    z-index: 3
    position: absolute
    color: $noir
    background: $jaune
    border-radius: 50%
    font-size: 2em
    font-weight: bold
    width: 1.25em
    text-align: center
    top: 8px
    left: 8px
    cursor: pointer
    margin: 0.5em
    &.active
      transform: rotate(45deg)
      color: $jaune
      background: $noir

table
  margin: 1rem auto
  text-align: center

.masonry
  background-color: $jaune
  display: block
  columns: 24rem
  gap: 0.5%
  padding: 0.5%

.brick
  margin-bottom: 0
  break-inside: avoid
